<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Détails du service</font></font></h3>
            <ul>
                <li>
                    <a href="{{ path('index') }}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil</font></font></a>
                </li>
                <li>
                    <i class="bx bx-chevrons-right"></i>
                </li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Détails du service ( {{ service.titre }} )</font></font></li>
            </ul>
        </div>
    </div>
    <div class="inner-shape">
        <img src="{{ asset('fils/assets/images/shape/inner-shape.png') }}" alt="Images">
    </div>
</div>