<div class="choose-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-content mr-20">
                    <div class="section-title">
                        <span class="sp-color1"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Pourquoi nous choisir</font></font></span>
                        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nous
                                    fournissons des solutions informatiques vraiment importantes.</font></font></h2>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec
                                    sagittis sem nibh id elit. </font><font style="vertical-align: inherit;">Mais je
                                    déteste m'asseoir amoureux </font><font style="vertical-align: inherit;">L'auteur de
                                    la maladie est la couche même de la haine.
                                </font></font></p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <div class="choose-content-card">
                                <div class="content">
                                    <i class="flaticon-practice"></i>
                                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vivre</font></font>
                                    </h3>
                                </div>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Et il
                                            n'y a personne qui aime la douleur parce que la douleur est
                                            l'amour</font></font></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="choose-content-card">
                                <div class="content">
                                    <i class="flaticon-help"></i>
                                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assistance
                                                rapide</font></font></h3>
                                </div>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Et il
                                            n'y a personne qui aime la douleur parce que la douleur est
                                            l'amour</font></font></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-img">
                    <img src="fils/assets/images/choose-img.jpg" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>