<div class="banner-slider-area">
    <div class="banner-slider owl-carousel owl-theme">
        <div class="banner-item item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-item-content">
                            <span>Uniquement des services de haute qualité</span>
                            <h1>D'excellents services informatiques pour votre succès</h1>
                           {# <p>
                                Aenean Sollicitudin, Lorem quis Bibendum auctor, nisi elit consequat ipsum,
                                nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
                            </p>#}
                            <div class="banner-btn">
                                <a href="about.html" class="default-btn btn-bg-two border-radius-50">CV KONATE HAMED <i class='bx bx-chevron-right'></i></a>
                                <a href="contact.html" class="default-btn btn-bg-one border-radius-50 ml-20">CV AMANGOUA YVES <i class='bx bx-chevron-right'></i></a>
                                <a href="contact.html" class="default-btn btn-bg-one border-radius-50 ml-20">CV SAHI ZOH <i class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item item-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-item-content">
                            <span>Uniquement des services de haute qualité</span>
                            <h1>Nous fournissons les meilleurs services informatiques pour vos besoins</h1>
                           {# <p>
                                Aenean Sollicitudin, Lorem quis Bibendum auctor, nisi elit consequat ipsum,
                                nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
                            </p>#}
                            <div class="banner-btn">
                                <a href="about.html" class="default-btn btn-bg-two border-radius-50">CV KONATE HAMED <i class='bx bx-chevron-right'></i></a>
                                <a href="contact.html" class="default-btn btn-bg-one border-radius-50 ml-20">CV AMANGOUA YVES <i class='bx bx-chevron-right'></i></a>
                                <a href="contact.html" class="default-btn btn-bg-one border-radius-50 ml-20">CV SAHI ZOH <i class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item item-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-item-content">
                            <span>Uniquement des services de haute qualité</span>
                            <h1>Service informatique numérique d'excellente qualité</h1>
                         {#   <p>
                                Aenean Sollicitudin, Lorem quis Bibendum auctor, nisi elit consequat ipsum,
                                nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
                            </p>#}
                            <div class="banner-btn">
                                <a href="about.html" class="default-btn btn-bg-two border-radius-50">CV KONATE HAMED <i class='bx bx-chevron-right'></i></a>
                                <a href="contact.html" class="default-btn btn-bg-one border-radius-50 ml-20">CV AMANGOUA YVES <i class='bx bx-chevron-right'></i></a>
                                <a href="contact.html" class="default-btn btn-bg-one border-radius-50 ml-20">CV SAHI ZOH <i class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
