<div id="competence"></div>
<section class="technology-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h1><span class="sp-color1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Technologies utilisées</font></font></span></h1>
            <h4 style="color: white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nous livrons notre meilleure solution dans le but de faire confiance</font></font></h4>
        </div>
        <div class="row pt-45">
            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-android"></i>
                    <h3>Android</h3>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-website"></i>
                    <h3>Web</h3>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-apple"></i>
                    <h3>ios</h3>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-television"></i>
                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">la télé</font></font></h3>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-smartwatch"></i>
                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Regarder </font></font></h3>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="technology-card">
                    <i class="flaticon-cyber-security"></i>
                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">IdO</font></font></h3>
                </div>
            </div>
        </div>
    </div>
</section>