<div class="call-us-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="call-contact">
                    <h3>Appelez nous  24/7 </h3>
                    <a href="tel:+225 0788242625" class="call-btn">+225 0788242625</a>
                    <p>
                 Nous sommes prêt à répondre à tout besoin que vous souhaiterez nous soumettre
                 .</p>
                    <a href="#contactez" class="default-btn btn-bg-two border-radius-5">Contactez nous</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="call-us-img">
                    <img src="{{ asset('fils/assets/images/call-us/call-us-img1.png') }}" alt="Images">
                    <div class="call-shape">
                        <div class="shape1">
                            <img src="{{ asset('fils/assets/images/call-us/call-shap2.png') }}" alt="Images">
                        </div>
                        <div class="shape2 shape2-rs">
                            <img src="{{ asset('fils/assets/images/call-us/call-shap3.png') }}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>