<section class="clients-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
           <h1> <span class="sp-color2">Les chiffres parlent</span></h1>
            <h4 style="color: white">Vérifions la croissance de notre entreprise et l'histoire de notre réussite</h4>
        </div>
            <div class="row pt-45">
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-another-content">
                        <i class="flaticon-web-development"></i>
                        <h3 style="color: white">4205+</h3>
                        <span style="color: white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Marchandises livrées</font></font></span>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-another-content">
                        <i class="flaticon-consulting-1"></i>
                        <h3 style="color: white">245+</h3>
                        <span style="color: white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Conseil informatique</font></font></span>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-another-content">
                        <i class="flaticon-startup"></i>
                        <h3 style="color: white">3550+</h3>
                        <span style="color: white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entièrement lancé</font></font></span>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-md-3">
                    <div class="counter-another-content">
                        <i class="flaticon-tick"></i>
                        <h3 style="color: white">6545+</h3>
                        <span style="color: white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projet terminé</font></font></span>
                    </div>
                </div>
            </div>

    </div>
    <div class="client-circle">
        <div class="client-circle-1">
            <div class="circle"></div>
        </div>
        <div class="client-circle-2">
            <div class="circle"></div>
        </div>
        <div class="client-circle-3">
            <div class="circle"></div>
        </div>
        <div class="client-circle-4">
            <div class="circle"></div>
        </div>
        <div class="client-circle-5">
            <div class="circle"></div>
        </div>
        <div class="client-circle-6">
            <div class="circle"></div>
        </div>
        <div class="client-circle-7">
            <div class="circle"></div>
        </div>
    </div>
</section>